.login_boby_outer{
    width:100%;
    height: 600px;
}
.login_boby{
    border: 1px solid transparent;
    background: url(./../img/login.jpg) no-repeat center;
    height: 600px;
    width:100%;
    margin: 0 auto;
    min-width: 1090px;
   
}
.commonHeader_top .liDiv{
    z-index: 12;
}
 .fixBoxRight .fixRight_outer{
    position: fixed;
    top: 100px;
}

// 登录页面
.loginBox_outer{ 
   width: 1090px;
   margin: 0 auto;
  .loginBox {
    margin: 83px 0 0 703px;
    width: 386px;
    height: auto !important;
   }
}

// 登录框




.login_outer{
   
   .login_inner{
    padding: 58px 40px 83px;
    width: 384px;
    position: relative;
    background: #fff;
    overflow: hidden;  
    .loginSelectS{
        position: absolute;
        overflow: hidden;
        padding: 30px 0 10px;
        top: 0;
        left: 29px;
        .loginHeader{
            color: #999;
            font-size: 18px;
            width: 306px;
            overflow: hidden;
            .mobileLogin{
                color: #333;
                float: left;
                cursor: pointer;
                margin-left: 25px;
            }
            .line{
                display: block;
                float: left;
                width: 1px;
                height: 20px;
                background: #ddd;
                margin-left: 55px;
            }
            .emailLogin{
                float: left;
                cursor: pointer;
                margin-left: 55px;
            }
        }
    }
    // 登录框底部样式
    .loginBottom{
        height: 60px;
        width: 386px;
        bottom: -1px;
        left: 0;
        position: absolute;
        padding-right: 25px;
        background: #F5F3EF;
        .moreApp{
            float: left;
            margin-left: 32px;
            .app{
               
                height: 30px;
                width: 30px;
                float: left;
                padding: 0;
                text-align: center;
                margin: 15px 4px;
                display: block;
                background: url(./../img/apps.webp) no-repeat;
                background-position: -6px -3px;
                background-size: 150%;
            }
            .app2{
                background-position: -6px -250px;
            }
            .app3{
                background-position: -6px -124px;
            }
            .app4{
                background-position: -6px -83px;
            }
        }
        .question{
            float: right;
            height: 12px;
            font-size: 12px;
            line-height: 16px;
            margin-top: 25px;
            margin-left: 5px;
            a{
                color:#bbb
            }
        }
        .question_email{
         display: block;   
        }
         .question_phone{
            display: none;   
           }
       
    }
    .loginChanges{
        position: relative;
        width: 304px;
        height: auto;
        margin-top: 32px;
        // 邮箱登录
        .memailL{
            position: relative;
            margin: 0 auto;
            padding-top: 10px;
            background: #fff;
            display: none;
            .emailMm{
                margin-top:15px ;
                .emailMmImg .emailImgI{
                    background: url(./../img/mm.png) no-repeat; 
                }
            }
        }
        // 手机号登录
        .mobileL{
            position: relative;
            margin: 0 auto;
            padding-top: 10px;
            background: #fff;
            .phoneSelects{
                position: absolute;
                top: -16px;
                right: 5px;
                color: #666;
                width: 100px;
                .s1{
                    position: absolute;
                  
                    display: block;
                    right: 0;
                }
                .s2{
                    position: absolute;
                    right: 0;
                    display: none;
                }
                &:hover{
                    color: #b4a078;
                }
            }
            .phoneCountMmDiv{
                margin: 15px 0 0 0;
                .imgI{
                    background: url(./../img/mm.png) no-repeat; 
                    ;                    
                }
            }
            .iphonecount{
                .imgI{
                    background: url(./../img/phone.png) no-repeat; 
                    background-position:4px 2px ;
                       
                }
            }
            .iphone_wordLogin{
                display: none;
            }
            .iphone_massageLogin{
                display: block;
                .yanzhengma{
                    overflow: hidden;
                    margin-top: 15px;
                    .Cout{
                        width: 100%;
                        margin-left: 0;
                    }
                    .getMassageInput{
                        width:150px ;
                    }
                   .getMassage{
                       cursor: pointer;
                        position: absolute;
                        top: 0;
                        right: -1px;
                        border: 1px solid #eee;
                        border-left: 0;
                        width: 88px;
                        height: 36px;
                        line-height: 36px;
                        background-color: #eee;
                        color: #333;
                        font-size: 14px;
                        text-align: center;
                   } 
                }
                .moveDiv{
                    margin-top: 15px;
                    position: relative;
                    background-color: #f7f9fa;
                    .moveBlock{
                        height: 100%;
                        box-shadow: 0 0 3px rgba(0,0,0,.3);
                        cursor: pointer;
                        transition: background .2s linear;
                        .moveLeft{
                            height: 40px;
                            border-radius: 2px;
                            width: 0;
                            position: absolute;
                            top: -1px;
                            left: -1px;
                            border: 1px solid transparent;
                        }
                        .move{
                            width: 40px;
                            height: 100%;
                            border-radius: 2px;
                            left: 0;
                            position: absolute;
                            top: 0;
                            cursor: pointer;
                            background-color: #fff;
                            box-shadow: 0 0 3px rgba(0,0,0,.3);
                            .left{
                               background: url(./../img/icon_light.png) no-repeat; 
                               position: absolute;
                                top: 50%;
                                margin-top: -6px;
                                left: 50%;
                                margin-left: -6px;
                                width: 14px;
                                height: 10px;
                            }
                        }
                        .moveWaring{
                            display: block;
                            text-align: center;
                            width: 100%;
                            color: #45494c;
                            line-height: 40px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        // 登录出错框
        .m_erro{
           display: none;
            margin-bottom: -8px;
            margin-top: 10px;
            .erro_img{
                float: left;
                height: 16px;
                width: 16px;
                margin-right: 6px;
                background: url('./../img/errimg.png') no-repeat;
            }
            .erro_massage{
                float: left;
                width: 250px;
                margin-top: -1px;
                height: 16px;
                margin-top: -2px;
                color: #d4282d;
                font-size: 12px;
                line-height: 20px;
                vertical-align: top;
            }
        }
       
    }
    // 删除按钮
    .delete_div{
        float: left;
        padding: 0 10px;
        height: 100%;
        .delete{
            margin-top: 9px;
            height: 20px;
            width: 20px;
            cursor: pointer;
            background: url(./../img/web.png) no-repeat;
            background-position:-147px -89px ;
        }
    }
     // 未登录时
     .unlogin{
        padding: 2px 0 9px 0;
        font-size: 0;
        height: 16px;
        line-height: 16px;
    }
    // placeholder样式
    input::-webkit-input-placeholder{
        color: #ccc;
    }
    // 登录账户密码input盒子
    .CountDiv{
        width: 298px !important;
        height: 36px;
        border: 1px solid #e8e8e8;
        line-height: 36px;
        border-radius: 2px; 
        font-size: 12px;
        overflow: hidden;
        .conutImg{
            float: left;
            text-align: center;
            padding: 7px 0 7px 7px;
            .imgI{
                display:block;
                width: 24px;
                height: 24px;
                padding-right: 7px;
                border-right: 1px solid #e8e8e8;
                background: url(./../img/uerimg.png) no-repeat;
            }
          
        }
        .Cout{
            margin-left: 8px ;
            float: left;
            position: relative;
            height: 100%;
            line-height: 36px;
            .countInput{
                height: 36px;
                line-height: 36px;
                padding-left: 8px;
                width: 214px;
                font-size: 14px;
                outline: none;
                border :none;
                box-sizing: border-box;
            }
        }
    }
    .loginBtn_outer {
        margin-top: 40px;
        margin-bottom: 11px;
        .loginBtn_a{
            display: block;
            width: 100%;
            height: 48px;
            text-align: center;
            color: #fff;
            background: #b4a078;
            font-size: 18px;
            line-height: 48px;
            border-radius: 2px;
        }
    }
   } 
}
